In [1]:
# variables
a=10
b=5.4
c="tharun"
print(a)
print(b)
print(c)
print(type(a))
print(type(b))
print(type(c))

# operators +,-,*,/,//,**,%
a=18
b=2
print(a+b)
print(a-b)
print(a/b)
print(a//b)
print(a*b)
print(a**b)

# logical operators
# not,or,and
a=3
b=4
print(a|b)
print(a)
rain = False
playing = not rain
print(playing)


##if_else
a=10
if a%2==0:
    print("even")
    print("not odd")
else:
    print("odd")

10
5.4
tharun
<class 'int'>
<class 'float'>
<class 'str'>
20
16
9.0
9
36
324
7
3
True
even
not odd

In [2]:
a = int(input())
if a % 3==0:
    print("zero")
elif a % 3==1:
    print("one")
else:
    print("Two")

 5

Two

In [14]:

#loops
a=list(range(10))
print(a)


#increment
b=list(range(0,30,3))
print(b)


#tables
for i in range(2,21,2):
    print(i)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]
2
4
6
8
10
12
14
16
18
20

In [15]:
#prime or not prime

case=int(input())
flag=True
for i in range(2,c):
    if a%i==0:
        print("Not prime")
        flag=False
        break
if flag==True:
    print("prime")

ValueError: invalid literal for int() with base 10: 'Escape'

In [16]:
for i in range(1,11):
    print(2**i)

2
4
8
16
32
64
128
256
512
1024

In [26]:
#functions
# directly defined by def
def fun1():
    print("sunny")
fun1()  


#function defination
def fun(a):
    print(a)
fun("hello")    


# add function
def add(a,b):
    print(a+b)
add(3,6)   


#recursion

sum=0
for i in range(1,11):
    sum=sum+i
print(sum)

def sum(a):
    #base case
    if a==1:
        return 1
    #recursive case
    return a+sum(a-1)
sum(5)

sunny
hello
9
55

15

In [34]:
#factorial
def fact(a):
    if a==1 or a==0:
        return 1
    
    return a*fact(a-1)
fact(0)

1

#string

In [37]:
a=("HELLO")
for i in a:
    print(i)

H
E
L
L
O

'Escape'

In [46]:
#if space  is given then space also there in output
b=input("your name = ") 

print(b)
#does not eliminate spaces in between 
print(b.strip())
#another way
b=input().strip()

       tharun  bhukya
tharun  bhukya

# data structures
## tuples
## list
## sets
## dict

### mutable and immutable
#### mutable means we can update values 
#### immutable means we can't update the values

In [52]:
#tuples
a=(2,4,5,6,78)
print(a)
type(a)
print(a[1])
#a[1]=366 we cant update because tuple is immutable
# we add two tuples
b=("tharun","sunny","bunny","soniya")
print(a+b)

(2, 4, 5, 6, 78)
4
(2, 4, 5, 6, 78, 'tharun', 'sunny', 'bunny', 'soniya')

In [65]:
#list
# mutable list we can change  values inside the list
a=[1,2,3,4,5,88]
print(a)
type(a)
print(a[2])
a[2]=200
print(a)
# we can increment each value by some value
print(len(a))
for i in range(len(a)):
    a[i]+=10
print(a)
#another way to increment the value in list
# list comprehension
a=[i+10 for i in a]
print (a)
#we can add same as tupe
a.append(100)
print(a)

a.sort()
print(a)
a.reverse()
print(a)
a.count(21)
a.insert(2,3)
print(a)
print(min(a))
print(max(a))

[1, 2, 3, 4, 5, 88]
3
[1, 2, 200, 4, 5, 88]
6
[11, 12, 210, 14, 15, 98]
[21, 22, 220, 24, 25, 108]
[21, 22, 220, 24, 25, 108, 100]
[21, 22, 24, 25, 100, 108, 220]
[220, 108, 100, 25, 24, 22, 21]
[220, 108, 3, 100, 25, 24, 22, 21]

220

In [67]:
#sets
s={1,1,3,4,23,5,23,3,4,5,6,7}
print(s)
# set remove the duplicate values from set
s.add(67)
s

{1, 3, 4, 5, 6, 7, 23}

{1, 3, 4, 5, 6, 7, 23, 67}

In [83]:
a=[1,2,3,4,5,5,4,3,5,5,1]
print(len(a))
b=max(a)
a.count(b)

11

4

In [82]:
# another method
c=[1,2,3,4,5,6,1,3,6,3,6,3,6]
n=max(c)
count=0
for i in c :
    if i==n:
        count+=1
print(count)

4

In [ ]:
#army game

In [93]:
#recursion
# fibonacci
def fib(a):
    if a==0 :
        return 0;
    if a==1:
        return 1
    return fib(a-2)+fib(a-1)
print(fib(7))

for i in range(10):
    print(fib(i))

13
0
1
1
2
3
5
8
13
21
34

### dictionaries

In [7]:
#dictionaries
# -->keys && -->values
# keys are unique

a={1:'tharun',2:'sunny',3:'bunny'}
print(a)
print(type(a))
a[1]='petti'
print(a)
print(a.keys())
print(a.values())
for i in a.keys():
    print(i)
for i in a.keys():
    print(a[i])

{1: 'tharun', 2: 'sunny', 3: 'bunny'}
<class 'dict'>
{1: 'petti', 2: 'sunny', 3: 'bunny'}
dict_keys([1, 2, 3])
dict_values(['petti', 'sunny', 'bunny'])
1
2
3
petti
sunny
bunny

In [12]:
b={"mango":100,"apple":200,"banana":300,"papaya":50}
print(b)
print(b.keys())
print(b.values())
b['apple']=150
print(b.values())
for i in b.keys():
    b[i]-=30
print(b.values())

{'mango': 100, 'apple': 200, 'banana': 300, 'papaya': 50}
dict_keys(['mango', 'apple', 'banana', 'papaya'])
dict_values([100, 200, 300, 50])
dict_values([100, 150, 300, 50])
dict_values([70, 120, 270, 20])

In [20]:
b={"mango":100,"apple":200,"banana":[300,500,790],"papaya":50}
print(b['banana'])
print(type(b['banana']))
print(b['banana'][2])
#convert 2 lists in dictionary without any function
l1=[1,2,3,4]
l2=['a','b','c','d']
d={}
for i in range(len(l2)):
    d[l2[i]]=l1[i]
print(d)
#using zip function
print(dict(zip(l1,l2)))
print(type(d))

[300, 500, 790]
<class 'list'>
790
{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{1: 'a', 2: 'b', 3: 'c', 4: 'd'}
<class 'dict'>

### sliccing

In [39]:
s='sunnybunny'
print(s[:])
print(s[:4])
print(s[2:])
print(s[2:6])
print(s[-1])
#check for palindrome
#reversing the string
c='ababbaba'
c==c[ : : -1]
#reversed the sunnybunny
print(s[ : : -1])
#palindrome
def palindrome(a):
    return a==a[ : : -1]
palindrome('abbba')
#list
l=list(range(10))
print(l)
print(l[:7])
print(l[1:8])
print(l[: : -1])
#important when taling input
#strip && split functions
s='       bhukya tharun pooni   '
print(s)
print(s.strip())
print(s.split())
print(type(s.split()))

sunnybunny
sunn
nnybunny
nnyb
y
ynnubynnus
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
       bhukya tharun pooni
bhukya tharun pooni
['bhukya', 'tharun', 'pooni']
<class 'list'>